<!DOCTYPE html>
<html>
<head>
    <title> Straw From U Form</title>
    <link rel="stylesheet" type="text/css" media="screen" href="static\css\index.css" />
</head>
<body>
    <!-- <div class="container">
        <div data-theme="light" id="rajaongkir-widget"></div>
    </div> -->
    <!-- <div class="nextBody">
        <form>
            <select id="list-provinsi" onchange="listKota()">
                <option value="" disabled selected>Pilih Provinsi</option>
            </select>
            <select id="list-kota">
                <option value="" disabled selected>Pilih Kota</option>
            </select>
        </form>
    </div> -->
    <!-- <div class="flashes">
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
    </div> -->
          
    <div class="container">
        <form id="form-pesanan" action="{{ url_for('handle_data') }}" method="POST">
            <label for="fname">Nama</label>
            <input type="text" id="nama" name="nama" required>
        
            <label for="idLine">ID Line</label>
            <input type="text" id="idLine" name="idLine" required>
            
            <label for="nohp">No HP</label><br>
            <input type="number" id="nohp" name="nohp" required><br><br>
            
            <label for="alamat">Alamat</label>
            <input type="text" id="alamat" name="alamat" required>
        
            <label for="list-provinsi">Provinsi-Kota</label>
            <select id="list-provinsi" onchange="listKota()" name="provinsi">
                <option value="" disabled selected>Pilih Provinsi</option>
            </select>
            <select id="list-kota" onchange="cekOngkir()" name="kota">
                <option value="" disabled selected>Pilih Kota</option>
            </select>

            <label for="kodepos">Kode Pos</label><br>
            <input type="number" id="kodepos" name="kodepos" required><br><br>
        
            <label for="subject">Pesanan</label><br>
            <!-- <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea> -->
            <input type="checkbox" id="pondA" name="checkbox-1">Pond - Straight Straw<br>
            <input type="number" id="q-pondA" min="0" name="q-checkbox-1" placeholder="kuantitas" disabled ><br>

            <input type="checkbox" id="pondB" name="checkbox-2">Pond - Bend Straw<br>
            <input type="number" id="q-pondB" min="0" name="q-checkbox-2" placeholder="kuantitas" disabled><br>

            <input type="checkbox" id="lagoon" name="checkbox-3">Lagoon<br>
            <input type="number" id="q-lagoon" min="0" name="q-checkbox-3" placeholder="kuantitas" disabled><br>

            <input type="checkbox" id="ocean" name="checkbox-4">Ocean<br>
            <input type="number" id="q-ocean" min="0" name="q-checkbox-4" placeholder="kuantitas" disabled><br><br>

            <button id="myBtn">Submit</button>

                <!-- Modal -->
            <div id="myModal" class="modal" display="none">

            <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>

                    <div class="data-pemesanan" id="data-pemesanan">

                    </div>
    
                <input type="submit" value="Konfirmasi Pemesanan">
            </div>
            
        </div>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function listProvinsi() {
            $.ajax({
                url: 'https://straw-from-u.herokuapp.com/form',
                method: 'POST',
                success: function(response) {
                    // console.log(response)
                    document.getElementById("list-provinsi").innerHTML = response
                }
            })
        }
        listProvinsi()

        function listKota() {
            selProvinsi = document.getElementById('list-provinsi');
            val = selProvinsi.options[selProvinsi.selectedIndex].value;
            $.ajax({
                url: 'https://straw-from-u.herokuapp.com/form-kota',
                method: 'POST',
                data: {'value' : val},
                success: function(response) {
                    // console.log(response)
                    document.getElementById("list-kota").innerHTML = response
                }
            })
        }

        //On Change kota
        function cekOngkir() {
            selKota = document.getElementById('list-kota');
            val = selKota.options[selKota.selectedIndex].value;
            $.ajax({
                url: 'https://straw-from-u.herokuapp.com/get-cost',
                method: 'POST',
                data: {'value' : val},
                success: function(response) {
                    console.log(response)
                    // document.getElementById("layanan-pengiriman").innerHTML = response
                }
            })
        }

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        var modal = document.getElementById('myModal');

        var nama = document.getElementById('nama');
        var idLine = document.getElementById('idLine');
        var nohp = document.getElementById('nohp');
        var alamat = document.getElementById('alamat');
        var provinsi = document.getElementById('list-provinsi');
        var kota = document.getElementById('list-kota');
        var kodepos = document.getElementById('kodepos');
        var nama_kota = document.getElementById('list-kota');
        var nama_provinsi = document.getElementById('list-provinsi');
        nama_kota = nama_kota.options[nama_kota.selectedIndex].text;
        nama_provinsi = nama_provinsi.options[nama_provinsi.selectedIndex].text;
        var paket_pondA;
        var paket_pondB;
        var paket_lagoon;
        var paket_ocean;

        btn.onclick = function(event) {
            event.preventDefault();
            paket_pondA = (document.getElementById('pondA').checked == true) ? document.getElementById('q-pondA').value : '-';
            paket_pondB = (document.getElementById('pondB').checked == true) ? document.getElementById('q-pondB').value : '-';
            paket_lagoon = (document.getElementById('lagoon').checked == true) ? document.getElementById('q-lagoon').value : '-';
            paket_ocean = (document.getElementById('ocean').checked == true) ? document.getElementById('q-ocean').value : '-';
            response_html = "<h2>Data Pemesanan</h2>" + 
            "<h3>Nama : " + nama.value + "</h3>"+
            "<h3>ID Line : " + idLine.value + "</h3>"+
            "<h3>No HP : " + nohp.value + "</h3>"+
            "<h3>Alamat Lengkap : " + alamat.value + "</h3>"+
            "<h3>Provinsi : " + nama_provinsi + "</h3>"+
            "<h3>Kota : " + nama_kota.value + "</h3>"+
            "<h3>Kode Pos : " + kodepos.value +  "</h3><br>"+
            "<h3>Pesanan </h3>"+
            "<h3>Paket Pond (Straight Straw) : " + paket_pondA + " </h3>"+
            "<h3>Paket Pond (Bend Straw) : " + paket_pondB + "</h3>"+
            "<h3>Paket Lagoon : " + paket_lagoon + "</h3>"+
            "<h3>Paket Ocean : " + paket_ocean + "</h3>"+
            "<h3>Pastikan data diatas benar dan lengkap sebelum melakukan konfirmasi</h3><br>"

            document.getElementById("data-pemesanan").innerHTML = response_html;
            modal.style.display = "block";
        }

        $("#form-pesanan").submit(function(event) {
            event.preventDefault();

            $.ajax({
                url: 'https://straw-from-u.herokuapp.com/handle-data',
                method: 'POST',
                data: {'nama' : nama,
                'idLine' : idLine,
                'nohp' : nohp,
                'alamat' : alamat,
                'provinsi' : provinsi,
                'kota' : kota,
                'kodepos' : kodepos,
                'paket_pondA' : paket_pondA,
                'paket_pondB' : paket_pondB,
                'paket_lagoon' : paket_lagoon,
                'paket_ocean' : paket_ocean},
                success: function(response) {
                    modal.style.display = "none";
                    alert("Pemesanan Berhasil! \nStatus Pemesanan : Menunggu Konfirmasi")
                }
            })
        })

        //On Change input box
        document.getElementById('pondA').onchange = function() {
            document.getElementById('q-pondA').disabled = !this.checked;
        };

        document.getElementById('pondB').onchange = function() {
            document.getElementById('q-pondB').disabled = !this.checked;
        };

        document.getElementById('lagoon').onchange = function() {
            document.getElementById('q-lagoon').disabled = !this.checked;
        };

        document.getElementById('ocean').onchange = function() {
            document.getElementById('q-ocean').disabled = !this.checked;
        };





        // function displayOngkir() {
            
        // }
    </script>
</body>
</html>
